<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!--<add key="connStr" value="server=MININT-5REKJI3; database=XSyncDB; Integrated Security=true" />-->
    <add key="connStr" value="data source=DESKTOP-M4TEFJN\SQLEXPRESS;Database=CCD; integrated security=true;" />
    <add key="ccdclientid" value="9f2a4449-0c4b-4019-9f28-ffc6b2f78039" />
    <add key="ccdclientsecret" value="1zI7Q~Xqt0OsQKEq6i9SXH7b6Zk9U6iBTCbPr" />
    <add key="ccdtokenurl" value="https://login.microsoftonline.com/dc9ca558-84e5-4118-a993-ac96a3f4590f/oauth2/token" />
    <add key="ccdtokenresource" value="https://gfci-uat.sandbox.operations.dynamics.com" />
    <add key="ccdgetdataurl" value="https://gfci-uat.sandbox.operations.dynamics.com/data/CCD_CCItemDetails?cross-company=true" />
  </appSettings>
</configuration>